include ../../inc/settings.pug

section.about-services
  .about-services__wrap 
    h2.about-services__title Сервис на все случаи
    .about-services__content 
      a.about-services__item.about-services__item-row-2(href="#") 
        .about-services__item-descr 
          .about-services__item-label Услуги
          .about-services__item-caption Майнинг под ключ
        picture.about-services__item-bg
          source(srcset=`${imgPath}banners/card-1-mob.png` media="(max-width: 576px)")
          img(src=`${imgPath}banners/card-7.png` alt="card-img" loading="lazy")
      a.about-services__item(href="#") 
        .about-services__item-descr 
          .about-services__item-label Услуги
          .about-services__item-caption Ремонт фермы
        picture.about-services__item-bg
          source(srcset=`${imgPath}banners/card-3-mob.png` media="(max-width: 576px)")
          img(src=`${imgPath}banners/card-3.png` alt="card-img" loading="lazy")
      a.about-services__item(href="#") 
        .about-services__item-descr 
          .about-services__item-label Услуги
          .about-services__item-caption Сборка ферм
        picture.about-services__item-bg
          source(srcset=`${imgPath}banners/card-5-mob.png` media="(max-width: 576px)")
          img(src=`${imgPath}banners/card-5.png` alt="card-img" loading="lazy")
      a.about-services__item(href="#") 
        .about-services__item-descr 
          .about-services__item-label Услуги
          .about-services__item-caption Консультацуия
        picture.about-services__item-bg
          source(srcset=`${imgPath}banners/card-4-mob.png` media="(max-width: 576px)")
          img(src=`${imgPath}banners/card-4.png` alt="card-img" loading="lazy")
      a.about-services__item(href="#") 
        .about-services__item-descr 
          .about-services__item-label Услуги
          .about-services__item-caption Разгон видеокарт
        picture.about-services__item-bg
          source(srcset=`${imgPath}banners/card-6-mob.png` media="(max-width: 576px)")
          img(src=`${imgPath}banners/card-6.png` alt="card-img" loading="lazy")
      a.about-services__item.about-services__item-col-2(href="#") 
        .about-services__item-descr 
          .about-services__item-label Услуги
          .about-services__item-caption Ремонт видеокарт
        picture.about-services__item-bg
          source(srcset=`${imgPath}banners/card-2-mob.png` media="(max-width: 576px)")
          img(src=`${imgPath}banners/card-8.png` alt="card-img" loading="lazy")
