section.contact-promo
  .contact-promo__wrap 
    h1.contact-promo__title Контакты
    .contact-promo__content 
      .contact-promo__descr 
        .contact-promo__item
          .contact-promo__item-header Офис
          p.contact-promo__item-subheader г. Удомия
        .contact-promo__item
          .contact-promo__item-header Телефон
          a.contact-promo__item-subheader(href="tel:+79102450274") +7 (910) 245-02-74
        .contact-promo__item
          .contact-promo__item-header Электронный адрес
          a.contact-promo__item-subheader(href="mailto:pankov@bitbird.ru") pankov@bitbird.ru
        .contact-promo__item
          .contact-promo__item-header Полные реквизиты компании
          p.contact-promo__item-subheader 
            | ООО "Айти Технологии"
            br
            | Юридический адрес:
            br
            | 394029, г. Воронеж, ул. Кулибина 17, помещ. 605
            br
            | ИНН: 3663153430
            br
            | ОГРН: 1213600001966
      .contact-promo__map
        iframe(
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2476.4404842579465!2d39.238863115844886!3d51.63345777965601!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x413b2e2212d25509%3A0x427431f159429bee!2z0YPQuy4g0JrRg9C70LjQsdC40L3QsCwgMTcsINCS0L7RgNC-0L3QtdC2LCDQktC-0YDQvtC90LXQttGB0LrQsNGPINC-0LHQuy4sIDM5NDAyOQ!5e0!3m2!1sru!2sru!4v1646554224674!5m2!1sru!2sru"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy")
