.catalog-pagination 
  nav.woocommerce-pagination 
    a.prev.page-numbers(href="")
      svg(width="14" height="21" viewBox="0 0 14 21" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M13.0976 19.5944C12.7141 20.0739 12.0145 20.1516 11.535 19.7681L0.417376 10.874C0.15365 10.663 0.00012673 10.3436 0.00012676 10.0058C0.000126789 9.66808 0.15365 9.34866 0.417377 9.13768L11.535 0.243587C12.0145 -0.139982 12.7141 -0.0622464 13.0976 0.417215C13.4812 0.896675 13.4035 1.5963 12.924 1.97987L2.89157 10.0058L12.924 18.0318C13.4035 18.4153 13.4812 19.115 13.0976 19.5944Z"
          fill="#6F5CEA")
    a.page-numbers(href="#") 1
    span.page-numbers.current 2
    a.page-numbers(href="#") 3
    a.page-numbers(href="#") 4
    a.page-numbers(href="#") 5
    a.page-numbers(href="#") 6
    a.next.page-numbers(href="#")
      svg(width="14" height="21" viewBox="0 0 14 21" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M0.244151 0.417291C0.627719 -0.0621698 1.32734 -0.139906 1.8068 0.243663L12.9244 9.13776C13.1881 9.34874 13.3417 9.66816 13.3417 10.0059C13.3417 10.3436 13.1881 10.6631 12.9244 10.874L1.8068 19.7681C1.32734 20.1517 0.627716 20.074 0.244147 19.5945C-0.139421 19.115 -0.0616848 18.4154 0.417776 18.0319L10.4502 10.0059L0.417779 1.97994C-0.0616819 1.59637 -0.139418 0.896751 0.244151 0.417291Z"
          fill="#6F5CEA")
