include ../../inc/settings.pug

section.service-conditions
  .service-conditions__wrap 
    h2.service-conditions__title Условия
    .service-conditions__content 
      .service-conditions__item
        .service-conditions__item-header
          img.service-conditions__item-5(src=`${imgPath}service/service-conditions/5.svg` alt="5" loading="lazy")
        .service-conditions__item-text месяцев гарантии на стабильную работу
      .service-conditions__item
        .service-conditions__item-header
          img.service-conditions__item-approximately(src=`${imgPath}service/service-conditions/approximately.svg` alt="approximately" loading="lazy")
          img.service-conditions__item-8(src=`${imgPath}service/service-conditions/8.svg` alt="8" loading="lazy")
        .service-conditions__item-text месяцев окупаемость фермы
      .service-conditions__item
        .service-conditions__item-header
          img.service-conditions__item-5percent(src=`${imgPath}service/service-conditions/5percent.svg` alt="5percent" loading="lazy")
        .service-conditions__item-text 
          | от стоимости фермы — стоимость нашей работы.
          span Но не менее 5 000 руб.
      .service-conditions__item
        .service-conditions__item-header
          img.service-conditions__item-plus(src=`${imgPath}service/service-conditions/+.svg` alt="+" loading="lazy")
        .service-conditions__item-text Каркас для фермы в ПОДАРОК!
