include ../../inc/settings.pug

section.service-price
  .service-price__wrap 
    h2.service-price__title Цены на ремонт видеокарт
    .service-price__content 
      .service-price__item 
        .service-price__item-caption Диагностика при согласии на ремонт или не сможем отремонтировать
        .service-price__item-labels 
          .service-price__item-label 
            img.service-price__item-label-icon(src=`${imgPath}icons/bitcoin-icon.svg` alt="bitcoin-icon" loading="lazy")
            .service-price__item-label-text
              strong 0 руб
          .service-price__item-label 
            img.service-price__item-label-icon(src=`${imgPath}icons/time-icon.svg` alt="time-icon" loading="lazy")
            .service-price__item-label-text от 3 часов
          .service-price__item-label 
            img.service-price__item-label-icon(src=`${imgPath}icons/like-icon.svg` alt="like-icon" loading="lazy")
            .service-price__item-label-text ---
        button.service-price__item-btn Заказать
      .service-price__item 
        .service-price__item-caption Диагностика при согласии на ремонт или не сможем отремонтировать
        .service-price__item-labels 
          .service-price__item-label 
            img.service-price__item-label-icon(src=`${imgPath}icons/bitcoin-icon.svg` alt="bitcoin-icon" loading="lazy")
            .service-price__item-label-text
              strong 0 руб
          .service-price__item-label 
            img.service-price__item-label-icon(src=`${imgPath}icons/time-icon.svg` alt="time-icon" loading="lazy")
            .service-price__item-label-text от 3 часов
          .service-price__item-label 
            img.service-price__item-label-icon(src=`${imgPath}icons/like-icon.svg` alt="like-icon" loading="lazy")
            .service-price__item-label-text ---
        button.service-price__item-btn Заказать
      .service-price__item 
        .service-price__item-caption Диагностика при согласии на ремонт или не сможем отремонтировать
        .service-price__item-labels 
          .service-price__item-label 
            img.service-price__item-label-icon(src=`${imgPath}icons/bitcoin-icon.svg` alt="bitcoin-icon" loading="lazy")
            .service-price__item-label-text
              strong 0 руб
          .service-price__item-label 
            img.service-price__item-label-icon(src=`${imgPath}icons/time-icon.svg` alt="time-icon" loading="lazy")
            .service-price__item-label-text от 3 часов
          .service-price__item-label 
            img.service-price__item-label-icon(src=`${imgPath}icons/like-icon.svg` alt="like-icon" loading="lazy")
            .service-price__item-label-text ---
        button.service-price__item-btn Заказать
      .service-price__item 
        .service-price__item-caption Диагностика при согласии на ремонт или не сможем отремонтировать
        .service-price__item-labels 
          .service-price__item-label 
            img.service-price__item-label-icon(src=`${imgPath}icons/bitcoin-icon.svg` alt="bitcoin-icon" loading="lazy")
            .service-price__item-label-text
              strong 0 руб
          .service-price__item-label 
            img.service-price__item-label-icon(src=`${imgPath}icons/time-icon.svg` alt="time-icon" loading="lazy")
            .service-price__item-label-text от 3 часов
          .service-price__item-label 
            img.service-price__item-label-icon(src=`${imgPath}icons/like-icon.svg` alt="like-icon" loading="lazy")
            .service-price__item-label-text ---
        button.service-price__item-btn Заказать
      .service-price__item 
        .service-price__item-caption Диагностика при согласии на ремонт или не сможем отремонтировать
        .service-price__item-labels 
          .service-price__item-label 
            img.service-price__item-label-icon(src=`${imgPath}icons/bitcoin-icon.svg` alt="bitcoin-icon" loading="lazy")
            .service-price__item-label-text
              strong 0 руб
          .service-price__item-label 
            img.service-price__item-label-icon(src=`${imgPath}icons/time-icon.svg` alt="time-icon" loading="lazy")
            .service-price__item-label-text от 3 часов
          .service-price__item-label 
            img.service-price__item-label-icon(src=`${imgPath}icons/like-icon.svg` alt="like-icon" loading="lazy")
            .service-price__item-label-text ---
        button.service-price__item-btn Заказать
      .service-price__item 
        .service-price__item-caption Диагностика при согласии на ремонт или не сможем отремонтировать
        .service-price__item-labels 
          .service-price__item-label 
            img.service-price__item-label-icon(src=`${imgPath}icons/bitcoin-icon.svg` alt="bitcoin-icon" loading="lazy")
            .service-price__item-label-text
              strong 0 руб
          .service-price__item-label 
            img.service-price__item-label-icon(src=`${imgPath}icons/time-icon.svg` alt="time-icon" loading="lazy")
            .service-price__item-label-text от 3 часов
          .service-price__item-label 
            img.service-price__item-label-icon(src=`${imgPath}icons/like-icon.svg` alt="like-icon" loading="lazy")
            .service-price__item-label-text ---
        button.service-price__item-btn Заказать
      .service-price__item 
        .service-price__item-caption Диагностика при согласии на ремонт или не сможем отремонтировать
        .service-price__item-labels 
          .service-price__item-label 
            img.service-price__item-label-icon(src=`${imgPath}icons/bitcoin-icon.svg` alt="bitcoin-icon" loading="lazy")
            .service-price__item-label-text
              strong 0 руб
          .service-price__item-label 
            img.service-price__item-label-icon(src=`${imgPath}icons/time-icon.svg` alt="time-icon" loading="lazy")
            .service-price__item-label-text от 3 часов
          .service-price__item-label 
            img.service-price__item-label-icon(src=`${imgPath}icons/like-icon.svg` alt="like-icon" loading="lazy")
            .service-price__item-label-text ---
        button.service-price__item-btn Заказать
      .service-price__item 
        .service-price__item-caption Диагностика при согласии на ремонт или не сможем отремонтировать
        .service-price__item-labels 
          .service-price__item-label 
            img.service-price__item-label-icon(src=`${imgPath}icons/bitcoin-icon.svg` alt="bitcoin-icon" loading="lazy")
            .service-price__item-label-text
              strong 0 руб
          .service-price__item-label 
            img.service-price__item-label-icon(src=`${imgPath}icons/time-icon.svg` alt="time-icon" loading="lazy")
            .service-price__item-label-text от 3 часов
          .service-price__item-label 
            img.service-price__item-label-icon(src=`${imgPath}icons/like-icon.svg` alt="like-icon" loading="lazy")
            .service-price__item-label-text ---
        button.service-price__item-btn Заказать
      .service-price__item 
        .service-price__item-caption Диагностика при согласии на ремонт или не сможем отремонтировать
        .service-price__item-labels 
          .service-price__item-label 
            img.service-price__item-label-icon(src=`${imgPath}icons/bitcoin-icon.svg` alt="bitcoin-icon" loading="lazy")
            .service-price__item-label-text
              strong 0 руб
          .service-price__item-label 
            img.service-price__item-label-icon(src=`${imgPath}icons/time-icon.svg` alt="time-icon" loading="lazy")
            .service-price__item-label-text от 3 часов
          .service-price__item-label 
            img.service-price__item-label-icon(src=`${imgPath}icons/like-icon.svg` alt="like-icon" loading="lazy")
            .service-price__item-label-text ---
        button.service-price__item-btn Заказать
