section.card-descr
  .card-descr__wrap
    .swiper.card-descr__tabs(data-card="tabs-parent")
      .swiper-wrapper
        button.swiper-slide.card-descr__tab(data-card="tab-btn") Описание
        button.swiper-slide.card-descr__tab(data-card="tab-btn") Характеристика
        button.swiper-slide.card-descr__tab(data-card="tab-btn") Доставка
        button.swiper-slide.card-descr__tab(data-card="tab-btn") Отзывы
    .card-descr__content 
      .card-descr__info.text(data-card="tab-content")
        h2 Заголовок H2 — Заголовок H2
        p Задача организации, в особенности же рамки и место обучения кадров требуют определения и уточнения существенных финансовых и административных условий. Товарищи! новая модель организационной деятельности требуют от нас анализа системы обучения кадров, соответствует насущным потребностям.
        p 
          | Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке направлений прогрессивного развития. Задача организации, в особенности же реализация намеченных плановых заданий требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Не следует, однако забывать, что новая модель организационной деятельности
          strong &nbsp;представляет собой интересный эксперимент&nbsp;
          | проверки новых предложений. Задача организации, в особенности же дальнейшее развитие различных форм деятельности требуют определения и уточнения соответствующий условий активизации.
        h3 Заголовок H3 — Заголовок H3
        p Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации систем массового участия. Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации форм развития. Товарищи! постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации систем массового участия. Повседневная практика показывает, что сложившаяся структура организации представляет собой интересный эксперимент проверки соответствующий условий активизации. Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа позиций, занимаемых участниками в отношении поставленных задач.
        ul
          li Разнообразный и богатый опыт постоянное информационно-пропагандистское
          li Разнообразный и богатый опыт постоянное информационно-пропагандистское
          li Разнообразный и богатый опыт постоянное информационно-пропагандистское
          li Разнообразный и богатый опыт постоянное информационно-пропагандистское
          li Разнообразный и богатый опыт постоянное информационно-пропагандистское
          li Разнообразный и богатый опыт постоянное информационно-пропагандистское
        p Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Не следует, однако забывать, что начало повседневной работы по формированию позиции требуют от нас анализа соответствующий условий активизации.
        ol
          li Разнообразный и богатый опыт постоянное информационно-пропагандистское
          li Разнообразный и богатый опыт постоянное информационно-пропагандистское
          li Разнообразный и богатый опыт постоянное информационно-пропагандистское
          li Разнообразный и богатый опыт постоянное информационно-пропагандистское
          li Разнообразный и богатый опыт постоянное информационно-пропагандистское
          li Разнообразный и богатый опыт постоянное информационно-пропагандистское
        p Таким образом сложившаяся структура организации представляет собой интересный эксперимент проверки новых предложений. Повседневная практика показывает, что новая модель организационной деятельности в значительной степени обуславливает создание модели развития. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. Равным образом консультация с широким активом позволяет выполнять важные задания по разработке существенных финансовых и административных условий.
      .card-descr__specs(data-card="tab-content") 
        .card-descr__specs-wrap
          .card-descr__specs-items
            .card-descr__specs-item
              span Алгоритм хеширования:
              | DaggerHashimoto
            .card-descr__specs-item
              span Гарантия:
              | 6 месяцев
            .card-descr__specs-item
              span Доходность:
              | 2 144,47 руб./день
            .card-descr__specs-item
              span Окупаемость:
              | 12.54 месяцев
            .card-descr__specs-item
              span Алгоритм хеширования:
              | DaggerHashimoto
            .card-descr__specs-item
              span Гарантия:
              | 6 месяцев
            .card-descr__specs-item
              span Доходность:
              | 2 144,47 руб./день
            .card-descr__specs-item
              span Окупаемость:
              | 12.54 месяцев
          .card-descr__specs-items
            .card-descr__specs-item
              span Алгоритм хеширования:
              | DaggerHashimoto
            .card-descr__specs-item
              span Гарантия:
              | 6 месяцев
            .card-descr__specs-item
              span Доходность:
              | 2 144,47 руб./день
            .card-descr__specs-item
              span Окупаемость:
              | 12.54 месяцев
            .card-descr__specs-item
              span Алгоритм хеширования:
              | DaggerHashimoto
            .card-descr__specs-item
              span Гарантия:
              | 6 месяцев
            .card-descr__specs-item
              span Доходность:
              | 2 144,47 руб./день
            .card-descr__specs-item
              span Окупаемость:
              | 12.54 месяцев
      .card-descr__delivery(data-card="tab-content") 
        .card-descr__delivery-item 
          .card-descr__delivery-header Самовывоз
          .card-descr__delivery-subheader Москва, Маяковский проекзд, дом 6, корпус 308
          .card-descr__delivery-cost
            | Стоимость доставки:&nbsp;
            span 0 руб
        .card-descr__delivery-item 
          .card-descr__delivery-header Москва
          .card-descr__delivery-subheader Доставка производится в пределах МКАД
          .card-descr__delivery-cost
            | Стоимость доставки:&nbsp;
            span 300 руб
        .card-descr__delivery-item 
          .card-descr__delivery-header Московская область
          .card-descr__delivery-subheader Доставка производится за пределами МКАД
          .card-descr__delivery-cost
            | Стоимость доставки:&nbsp;
            span 1000 руб
        .card-descr__delivery-item 
          .card-descr__delivery-header По России
          .card-descr__delivery-subheader Фиксированая доставка по России
          .card-descr__delivery-cost
            | Стоимость доставки:&nbsp;
            span 1500 руб
      .card-descr__feedback(data-card="tab-content")
        .card-descr__feedback-items(data-feedback="items")
          .card-descr__feedback-item(data-feedback="item")
            .card-descr__feedback-name Александр
            .card-descr__feedback-rating
              .card-descr__feedback-rating
                a(href="#") 
                  svg.active(width="21" height="20" viewBox="0 0 21 20" xmlns="http://www.w3.org/2000/svg")
                    path(
                      d="M15.9189 11.82C15.6599 12.071 15.5409 12.434 15.5999 12.79L16.4889 17.71C16.5639 18.127 16.3879 18.549 16.0389 18.79C15.6969 19.04 15.2419 19.07 14.8689 18.87L10.4399 16.56C10.2859 16.478 10.1149 16.434 9.93988 16.429H9.66888C9.57488 16.443 9.48288 16.473 9.39888 16.519L4.96888 18.84C4.74988 18.95 4.50188 18.989 4.25888 18.95C3.66688 18.838 3.27188 18.274 3.36888 17.679L4.25888 12.759C4.31788 12.4 4.19888 12.035 3.93988 11.78L0.328876 8.28C0.0268758 7.987 -0.0781242 7.547 0.0598758 7.15C0.193876 6.754 0.535876 6.465 0.948876 6.4L5.91888 5.679C6.29688 5.64 6.62888 5.41 6.79888 5.07L8.98888 0.58C9.04088 0.48 9.10788 0.388 9.18888 0.31L9.27888 0.24C9.32588 0.188 9.37988 0.145 9.43988 0.11L9.54888 0.07L9.71888 0H10.1399C10.5159 0.039 10.8469 0.264 11.0199 0.6L13.2389 5.07C13.3989 5.397 13.7099 5.624 14.0689 5.679L19.0389 6.4C19.4589 6.46 19.8099 6.75 19.9489 7.15C20.0799 7.551 19.9669 7.991 19.6589 8.28L15.9189 11.82Z")
                a(href="#") 
                  svg.active(width="21" height="20" viewBox="0 0 21 20" xmlns="http://www.w3.org/2000/svg")
                    path(
                      d="M15.9189 11.82C15.6599 12.071 15.5409 12.434 15.5999 12.79L16.4889 17.71C16.5639 18.127 16.3879 18.549 16.0389 18.79C15.6969 19.04 15.2419 19.07 14.8689 18.87L10.4399 16.56C10.2859 16.478 10.1149 16.434 9.93988 16.429H9.66888C9.57488 16.443 9.48288 16.473 9.39888 16.519L4.96888 18.84C4.74988 18.95 4.50188 18.989 4.25888 18.95C3.66688 18.838 3.27188 18.274 3.36888 17.679L4.25888 12.759C4.31788 12.4 4.19888 12.035 3.93988 11.78L0.328876 8.28C0.0268758 7.987 -0.0781242 7.547 0.0598758 7.15C0.193876 6.754 0.535876 6.465 0.948876 6.4L5.91888 5.679C6.29688 5.64 6.62888 5.41 6.79888 5.07L8.98888 0.58C9.04088 0.48 9.10788 0.388 9.18888 0.31L9.27888 0.24C9.32588 0.188 9.37988 0.145 9.43988 0.11L9.54888 0.07L9.71888 0H10.1399C10.5159 0.039 10.8469 0.264 11.0199 0.6L13.2389 5.07C13.3989 5.397 13.7099 5.624 14.0689 5.679L19.0389 6.4C19.4589 6.46 19.8099 6.75 19.9489 7.15C20.0799 7.551 19.9669 7.991 19.6589 8.28L15.9189 11.82Z")
                a(href="#") 
                  svg.active(width="21" height="20" viewBox="0 0 21 20" xmlns="http://www.w3.org/2000/svg")
                    path(
                      d="M15.9189 11.82C15.6599 12.071 15.5409 12.434 15.5999 12.79L16.4889 17.71C16.5639 18.127 16.3879 18.549 16.0389 18.79C15.6969 19.04 15.2419 19.07 14.8689 18.87L10.4399 16.56C10.2859 16.478 10.1149 16.434 9.93988 16.429H9.66888C9.57488 16.443 9.48288 16.473 9.39888 16.519L4.96888 18.84C4.74988 18.95 4.50188 18.989 4.25888 18.95C3.66688 18.838 3.27188 18.274 3.36888 17.679L4.25888 12.759C4.31788 12.4 4.19888 12.035 3.93988 11.78L0.328876 8.28C0.0268758 7.987 -0.0781242 7.547 0.0598758 7.15C0.193876 6.754 0.535876 6.465 0.948876 6.4L5.91888 5.679C6.29688 5.64 6.62888 5.41 6.79888 5.07L8.98888 0.58C9.04088 0.48 9.10788 0.388 9.18888 0.31L9.27888 0.24C9.32588 0.188 9.37988 0.145 9.43988 0.11L9.54888 0.07L9.71888 0H10.1399C10.5159 0.039 10.8469 0.264 11.0199 0.6L13.2389 5.07C13.3989 5.397 13.7099 5.624 14.0689 5.679L19.0389 6.4C19.4589 6.46 19.8099 6.75 19.9489 7.15C20.0799 7.551 19.9669 7.991 19.6589 8.28L15.9189 11.82Z")
                a(href="#") 
                  svg.active(width="21" height="20" viewBox="0 0 21 20" xmlns="http://www.w3.org/2000/svg")
                    path(
                      d="M15.9189 11.82C15.6599 12.071 15.5409 12.434 15.5999 12.79L16.4889 17.71C16.5639 18.127 16.3879 18.549 16.0389 18.79C15.6969 19.04 15.2419 19.07 14.8689 18.87L10.4399 16.56C10.2859 16.478 10.1149 16.434 9.93988 16.429H9.66888C9.57488 16.443 9.48288 16.473 9.39888 16.519L4.96888 18.84C4.74988 18.95 4.50188 18.989 4.25888 18.95C3.66688 18.838 3.27188 18.274 3.36888 17.679L4.25888 12.759C4.31788 12.4 4.19888 12.035 3.93988 11.78L0.328876 8.28C0.0268758 7.987 -0.0781242 7.547 0.0598758 7.15C0.193876 6.754 0.535876 6.465 0.948876 6.4L5.91888 5.679C6.29688 5.64 6.62888 5.41 6.79888 5.07L8.98888 0.58C9.04088 0.48 9.10788 0.388 9.18888 0.31L9.27888 0.24C9.32588 0.188 9.37988 0.145 9.43988 0.11L9.54888 0.07L9.71888 0H10.1399C10.5159 0.039 10.8469 0.264 11.0199 0.6L13.2389 5.07C13.3989 5.397 13.7099 5.624 14.0689 5.679L19.0389 6.4C19.4589 6.46 19.8099 6.75 19.9489 7.15C20.0799 7.551 19.9669 7.991 19.6589 8.28L15.9189 11.82Z")
                a(href="#") 
                  svg.active(width="21" height="20" viewBox="0 0 21 20" xmlns="http://www.w3.org/2000/svg")
                    path(
                      d="M15.9189 11.82C15.6599 12.071 15.5409 12.434 15.5999 12.79L16.4889 17.71C16.5639 18.127 16.3879 18.549 16.0389 18.79C15.6969 19.04 15.2419 19.07 14.8689 18.87L10.4399 16.56C10.2859 16.478 10.1149 16.434 9.93988 16.429H9.66888C9.57488 16.443 9.48288 16.473 9.39888 16.519L4.96888 18.84C4.74988 18.95 4.50188 18.989 4.25888 18.95C3.66688 18.838 3.27188 18.274 3.36888 17.679L4.25888 12.759C4.31788 12.4 4.19888 12.035 3.93988 11.78L0.328876 8.28C0.0268758 7.987 -0.0781242 7.547 0.0598758 7.15C0.193876 6.754 0.535876 6.465 0.948876 6.4L5.91888 5.679C6.29688 5.64 6.62888 5.41 6.79888 5.07L8.98888 0.58C9.04088 0.48 9.10788 0.388 9.18888 0.31L9.27888 0.24C9.32588 0.188 9.37988 0.145 9.43988 0.11L9.54888 0.07L9.71888 0H10.1399C10.5159 0.039 10.8469 0.264 11.0199 0.6L13.2389 5.07C13.3989 5.397 13.7099 5.624 14.0689 5.679L19.0389 6.4C19.4589 6.46 19.8099 6.75 19.9489 7.15C20.0799 7.551 19.9669 7.991 19.6589 8.28L15.9189 11.82Z")
            p.card-descr__feedback-text Мне нужна была видеокарта для стандартной простой майнингфермы, выбрал эту, мне помогли консультанты интернет-магазина MinerBase. Спасибо!! Но вот только доставка затянулась, может вина Почты России, но немного расстроило.
            .card-descr__feedback-date 22.11.2022
          .card-descr__feedback-item(data-feedback="item")
            .card-descr__feedback-name Александр
            .card-descr__feedback-rating
              a(href="#") 
                svg.active(width="21" height="20" viewBox="0 0 21 20" xmlns="http://www.w3.org/2000/svg")
                  path(
                    d="M15.9189 11.82C15.6599 12.071 15.5409 12.434 15.5999 12.79L16.4889 17.71C16.5639 18.127 16.3879 18.549 16.0389 18.79C15.6969 19.04 15.2419 19.07 14.8689 18.87L10.4399 16.56C10.2859 16.478 10.1149 16.434 9.93988 16.429H9.66888C9.57488 16.443 9.48288 16.473 9.39888 16.519L4.96888 18.84C4.74988 18.95 4.50188 18.989 4.25888 18.95C3.66688 18.838 3.27188 18.274 3.36888 17.679L4.25888 12.759C4.31788 12.4 4.19888 12.035 3.93988 11.78L0.328876 8.28C0.0268758 7.987 -0.0781242 7.547 0.0598758 7.15C0.193876 6.754 0.535876 6.465 0.948876 6.4L5.91888 5.679C6.29688 5.64 6.62888 5.41 6.79888 5.07L8.98888 0.58C9.04088 0.48 9.10788 0.388 9.18888 0.31L9.27888 0.24C9.32588 0.188 9.37988 0.145 9.43988 0.11L9.54888 0.07L9.71888 0H10.1399C10.5159 0.039 10.8469 0.264 11.0199 0.6L13.2389 5.07C13.3989 5.397 13.7099 5.624 14.0689 5.679L19.0389 6.4C19.4589 6.46 19.8099 6.75 19.9489 7.15C20.0799 7.551 19.9669 7.991 19.6589 8.28L15.9189 11.82Z")
              a(href="#") 
                svg.active(width="21" height="20" viewBox="0 0 21 20" xmlns="http://www.w3.org/2000/svg")
                  path(
                    d="M15.9189 11.82C15.6599 12.071 15.5409 12.434 15.5999 12.79L16.4889 17.71C16.5639 18.127 16.3879 18.549 16.0389 18.79C15.6969 19.04 15.2419 19.07 14.8689 18.87L10.4399 16.56C10.2859 16.478 10.1149 16.434 9.93988 16.429H9.66888C9.57488 16.443 9.48288 16.473 9.39888 16.519L4.96888 18.84C4.74988 18.95 4.50188 18.989 4.25888 18.95C3.66688 18.838 3.27188 18.274 3.36888 17.679L4.25888 12.759C4.31788 12.4 4.19888 12.035 3.93988 11.78L0.328876 8.28C0.0268758 7.987 -0.0781242 7.547 0.0598758 7.15C0.193876 6.754 0.535876 6.465 0.948876 6.4L5.91888 5.679C6.29688 5.64 6.62888 5.41 6.79888 5.07L8.98888 0.58C9.04088 0.48 9.10788 0.388 9.18888 0.31L9.27888 0.24C9.32588 0.188 9.37988 0.145 9.43988 0.11L9.54888 0.07L9.71888 0H10.1399C10.5159 0.039 10.8469 0.264 11.0199 0.6L13.2389 5.07C13.3989 5.397 13.7099 5.624 14.0689 5.679L19.0389 6.4C19.4589 6.46 19.8099 6.75 19.9489 7.15C20.0799 7.551 19.9669 7.991 19.6589 8.28L15.9189 11.82Z")
              a(href="#") 
                svg.active(width="21" height="20" viewBox="0 0 21 20" xmlns="http://www.w3.org/2000/svg")
                  path(
                    d="M15.9189 11.82C15.6599 12.071 15.5409 12.434 15.5999 12.79L16.4889 17.71C16.5639 18.127 16.3879 18.549 16.0389 18.79C15.6969 19.04 15.2419 19.07 14.8689 18.87L10.4399 16.56C10.2859 16.478 10.1149 16.434 9.93988 16.429H9.66888C9.57488 16.443 9.48288 16.473 9.39888 16.519L4.96888 18.84C4.74988 18.95 4.50188 18.989 4.25888 18.95C3.66688 18.838 3.27188 18.274 3.36888 17.679L4.25888 12.759C4.31788 12.4 4.19888 12.035 3.93988 11.78L0.328876 8.28C0.0268758 7.987 -0.0781242 7.547 0.0598758 7.15C0.193876 6.754 0.535876 6.465 0.948876 6.4L5.91888 5.679C6.29688 5.64 6.62888 5.41 6.79888 5.07L8.98888 0.58C9.04088 0.48 9.10788 0.388 9.18888 0.31L9.27888 0.24C9.32588 0.188 9.37988 0.145 9.43988 0.11L9.54888 0.07L9.71888 0H10.1399C10.5159 0.039 10.8469 0.264 11.0199 0.6L13.2389 5.07C13.3989 5.397 13.7099 5.624 14.0689 5.679L19.0389 6.4C19.4589 6.46 19.8099 6.75 19.9489 7.15C20.0799 7.551 19.9669 7.991 19.6589 8.28L15.9189 11.82Z")
              a(href="#") 
                svg.active(width="21" height="20" viewBox="0 0 21 20" xmlns="http://www.w3.org/2000/svg")
                  path(
                    d="M15.9189 11.82C15.6599 12.071 15.5409 12.434 15.5999 12.79L16.4889 17.71C16.5639 18.127 16.3879 18.549 16.0389 18.79C15.6969 19.04 15.2419 19.07 14.8689 18.87L10.4399 16.56C10.2859 16.478 10.1149 16.434 9.93988 16.429H9.66888C9.57488 16.443 9.48288 16.473 9.39888 16.519L4.96888 18.84C4.74988 18.95 4.50188 18.989 4.25888 18.95C3.66688 18.838 3.27188 18.274 3.36888 17.679L4.25888 12.759C4.31788 12.4 4.19888 12.035 3.93988 11.78L0.328876 8.28C0.0268758 7.987 -0.0781242 7.547 0.0598758 7.15C0.193876 6.754 0.535876 6.465 0.948876 6.4L5.91888 5.679C6.29688 5.64 6.62888 5.41 6.79888 5.07L8.98888 0.58C9.04088 0.48 9.10788 0.388 9.18888 0.31L9.27888 0.24C9.32588 0.188 9.37988 0.145 9.43988 0.11L9.54888 0.07L9.71888 0H10.1399C10.5159 0.039 10.8469 0.264 11.0199 0.6L13.2389 5.07C13.3989 5.397 13.7099 5.624 14.0689 5.679L19.0389 6.4C19.4589 6.46 19.8099 6.75 19.9489 7.15C20.0799 7.551 19.9669 7.991 19.6589 8.28L15.9189 11.82Z")
              a(href="#") 
                svg(width="21" height="20" viewBox="0 0 21 20" xmlns="http://www.w3.org/2000/svg")
                  path(
                    d="M15.9189 11.82C15.6599 12.071 15.5409 12.434 15.5999 12.79L16.4889 17.71C16.5639 18.127 16.3879 18.549 16.0389 18.79C15.6969 19.04 15.2419 19.07 14.8689 18.87L10.4399 16.56C10.2859 16.478 10.1149 16.434 9.93988 16.429H9.66888C9.57488 16.443 9.48288 16.473 9.39888 16.519L4.96888 18.84C4.74988 18.95 4.50188 18.989 4.25888 18.95C3.66688 18.838 3.27188 18.274 3.36888 17.679L4.25888 12.759C4.31788 12.4 4.19888 12.035 3.93988 11.78L0.328876 8.28C0.0268758 7.987 -0.0781242 7.547 0.0598758 7.15C0.193876 6.754 0.535876 6.465 0.948876 6.4L5.91888 5.679C6.29688 5.64 6.62888 5.41 6.79888 5.07L8.98888 0.58C9.04088 0.48 9.10788 0.388 9.18888 0.31L9.27888 0.24C9.32588 0.188 9.37988 0.145 9.43988 0.11L9.54888 0.07L9.71888 0H10.1399C10.5159 0.039 10.8469 0.264 11.0199 0.6L13.2389 5.07C13.3989 5.397 13.7099 5.624 14.0689 5.679L19.0389 6.4C19.4589 6.46 19.8099 6.75 19.9489 7.15C20.0799 7.551 19.9669 7.991 19.6589 8.28L15.9189 11.82Z")
            p.card-descr__feedback-text Мне нужна была видеокарта для стандартной простой майнингфермы, выбрал эту, мне помогли консультанты интернет-магазина MinerBase. Спасибо!! Но вот только доставка затянулась, может вина Почты России, но немного расстроило.
            .card-descr__feedback-date 22.11.2022
          .card-descr__feedback-item(data-feedback="item")
            .card-descr__feedback-name Александр
            .card-descr__feedback-rating
              a(href="#") 
                svg.active(width="21" height="20" viewBox="0 0 21 20" xmlns="http://www.w3.org/2000/svg")
                  path(
                    d="M15.9189 11.82C15.6599 12.071 15.5409 12.434 15.5999 12.79L16.4889 17.71C16.5639 18.127 16.3879 18.549 16.0389 18.79C15.6969 19.04 15.2419 19.07 14.8689 18.87L10.4399 16.56C10.2859 16.478 10.1149 16.434 9.93988 16.429H9.66888C9.57488 16.443 9.48288 16.473 9.39888 16.519L4.96888 18.84C4.74988 18.95 4.50188 18.989 4.25888 18.95C3.66688 18.838 3.27188 18.274 3.36888 17.679L4.25888 12.759C4.31788 12.4 4.19888 12.035 3.93988 11.78L0.328876 8.28C0.0268758 7.987 -0.0781242 7.547 0.0598758 7.15C0.193876 6.754 0.535876 6.465 0.948876 6.4L5.91888 5.679C6.29688 5.64 6.62888 5.41 6.79888 5.07L8.98888 0.58C9.04088 0.48 9.10788 0.388 9.18888 0.31L9.27888 0.24C9.32588 0.188 9.37988 0.145 9.43988 0.11L9.54888 0.07L9.71888 0H10.1399C10.5159 0.039 10.8469 0.264 11.0199 0.6L13.2389 5.07C13.3989 5.397 13.7099 5.624 14.0689 5.679L19.0389 6.4C19.4589 6.46 19.8099 6.75 19.9489 7.15C20.0799 7.551 19.9669 7.991 19.6589 8.28L15.9189 11.82Z")
              a(href="#") 
                svg.active(width="21" height="20" viewBox="0 0 21 20" xmlns="http://www.w3.org/2000/svg")
                  path(
                    d="M15.9189 11.82C15.6599 12.071 15.5409 12.434 15.5999 12.79L16.4889 17.71C16.5639 18.127 16.3879 18.549 16.0389 18.79C15.6969 19.04 15.2419 19.07 14.8689 18.87L10.4399 16.56C10.2859 16.478 10.1149 16.434 9.93988 16.429H9.66888C9.57488 16.443 9.48288 16.473 9.39888 16.519L4.96888 18.84C4.74988 18.95 4.50188 18.989 4.25888 18.95C3.66688 18.838 3.27188 18.274 3.36888 17.679L4.25888 12.759C4.31788 12.4 4.19888 12.035 3.93988 11.78L0.328876 8.28C0.0268758 7.987 -0.0781242 7.547 0.0598758 7.15C0.193876 6.754 0.535876 6.465 0.948876 6.4L5.91888 5.679C6.29688 5.64 6.62888 5.41 6.79888 5.07L8.98888 0.58C9.04088 0.48 9.10788 0.388 9.18888 0.31L9.27888 0.24C9.32588 0.188 9.37988 0.145 9.43988 0.11L9.54888 0.07L9.71888 0H10.1399C10.5159 0.039 10.8469 0.264 11.0199 0.6L13.2389 5.07C13.3989 5.397 13.7099 5.624 14.0689 5.679L19.0389 6.4C19.4589 6.46 19.8099 6.75 19.9489 7.15C20.0799 7.551 19.9669 7.991 19.6589 8.28L15.9189 11.82Z")
              a(href="#") 
                svg.active(width="21" height="20" viewBox="0 0 21 20" xmlns="http://www.w3.org/2000/svg")
                  path(
                    d="M15.9189 11.82C15.6599 12.071 15.5409 12.434 15.5999 12.79L16.4889 17.71C16.5639 18.127 16.3879 18.549 16.0389 18.79C15.6969 19.04 15.2419 19.07 14.8689 18.87L10.4399 16.56C10.2859 16.478 10.1149 16.434 9.93988 16.429H9.66888C9.57488 16.443 9.48288 16.473 9.39888 16.519L4.96888 18.84C4.74988 18.95 4.50188 18.989 4.25888 18.95C3.66688 18.838 3.27188 18.274 3.36888 17.679L4.25888 12.759C4.31788 12.4 4.19888 12.035 3.93988 11.78L0.328876 8.28C0.0268758 7.987 -0.0781242 7.547 0.0598758 7.15C0.193876 6.754 0.535876 6.465 0.948876 6.4L5.91888 5.679C6.29688 5.64 6.62888 5.41 6.79888 5.07L8.98888 0.58C9.04088 0.48 9.10788 0.388 9.18888 0.31L9.27888 0.24C9.32588 0.188 9.37988 0.145 9.43988 0.11L9.54888 0.07L9.71888 0H10.1399C10.5159 0.039 10.8469 0.264 11.0199 0.6L13.2389 5.07C13.3989 5.397 13.7099 5.624 14.0689 5.679L19.0389 6.4C19.4589 6.46 19.8099 6.75 19.9489 7.15C20.0799 7.551 19.9669 7.991 19.6589 8.28L15.9189 11.82Z")
              a(href="#") 
                svg.active(width="21" height="20" viewBox="0 0 21 20" xmlns="http://www.w3.org/2000/svg")
                  path(
                    d="M15.9189 11.82C15.6599 12.071 15.5409 12.434 15.5999 12.79L16.4889 17.71C16.5639 18.127 16.3879 18.549 16.0389 18.79C15.6969 19.04 15.2419 19.07 14.8689 18.87L10.4399 16.56C10.2859 16.478 10.1149 16.434 9.93988 16.429H9.66888C9.57488 16.443 9.48288 16.473 9.39888 16.519L4.96888 18.84C4.74988 18.95 4.50188 18.989 4.25888 18.95C3.66688 18.838 3.27188 18.274 3.36888 17.679L4.25888 12.759C4.31788 12.4 4.19888 12.035 3.93988 11.78L0.328876 8.28C0.0268758 7.987 -0.0781242 7.547 0.0598758 7.15C0.193876 6.754 0.535876 6.465 0.948876 6.4L5.91888 5.679C6.29688 5.64 6.62888 5.41 6.79888 5.07L8.98888 0.58C9.04088 0.48 9.10788 0.388 9.18888 0.31L9.27888 0.24C9.32588 0.188 9.37988 0.145 9.43988 0.11L9.54888 0.07L9.71888 0H10.1399C10.5159 0.039 10.8469 0.264 11.0199 0.6L13.2389 5.07C13.3989 5.397 13.7099 5.624 14.0689 5.679L19.0389 6.4C19.4589 6.46 19.8099 6.75 19.9489 7.15C20.0799 7.551 19.9669 7.991 19.6589 8.28L15.9189 11.82Z")
              a(href="#") 
                svg(width="21" height="20" viewBox="0 0 21 20" xmlns="http://www.w3.org/2000/svg")
                  path(
                    d="M15.9189 11.82C15.6599 12.071 15.5409 12.434 15.5999 12.79L16.4889 17.71C16.5639 18.127 16.3879 18.549 16.0389 18.79C15.6969 19.04 15.2419 19.07 14.8689 18.87L10.4399 16.56C10.2859 16.478 10.1149 16.434 9.93988 16.429H9.66888C9.57488 16.443 9.48288 16.473 9.39888 16.519L4.96888 18.84C4.74988 18.95 4.50188 18.989 4.25888 18.95C3.66688 18.838 3.27188 18.274 3.36888 17.679L4.25888 12.759C4.31788 12.4 4.19888 12.035 3.93988 11.78L0.328876 8.28C0.0268758 7.987 -0.0781242 7.547 0.0598758 7.15C0.193876 6.754 0.535876 6.465 0.948876 6.4L5.91888 5.679C6.29688 5.64 6.62888 5.41 6.79888 5.07L8.98888 0.58C9.04088 0.48 9.10788 0.388 9.18888 0.31L9.27888 0.24C9.32588 0.188 9.37988 0.145 9.43988 0.11L9.54888 0.07L9.71888 0H10.1399C10.5159 0.039 10.8469 0.264 11.0199 0.6L13.2389 5.07C13.3989 5.397 13.7099 5.624 14.0689 5.679L19.0389 6.4C19.4589 6.46 19.8099 6.75 19.9489 7.15C20.0799 7.551 19.9669 7.991 19.6589 8.28L15.9189 11.82Z")
            p.card-descr__feedback-text Мне нужна была видеокарта для стандартной простой майнингфермы, выбрал эту, мне помогли консультанты интернет-магазина MinerBase. Спасибо!! Но вот только доставка затянулась, может вина Почты России, но немного расстроило.
            .card-descr__feedback-date 22.11.2022
          .card-descr__feedback-item(data-feedback="item")
            .card-descr__feedback-name Александр
            .card-descr__feedback-rating
              a(href="#") 
                svg.active(width="21" height="20" viewBox="0 0 21 20" xmlns="http://www.w3.org/2000/svg")
                  path(
                    d="M15.9189 11.82C15.6599 12.071 15.5409 12.434 15.5999 12.79L16.4889 17.71C16.5639 18.127 16.3879 18.549 16.0389 18.79C15.6969 19.04 15.2419 19.07 14.8689 18.87L10.4399 16.56C10.2859 16.478 10.1149 16.434 9.93988 16.429H9.66888C9.57488 16.443 9.48288 16.473 9.39888 16.519L4.96888 18.84C4.74988 18.95 4.50188 18.989 4.25888 18.95C3.66688 18.838 3.27188 18.274 3.36888 17.679L4.25888 12.759C4.31788 12.4 4.19888 12.035 3.93988 11.78L0.328876 8.28C0.0268758 7.987 -0.0781242 7.547 0.0598758 7.15C0.193876 6.754 0.535876 6.465 0.948876 6.4L5.91888 5.679C6.29688 5.64 6.62888 5.41 6.79888 5.07L8.98888 0.58C9.04088 0.48 9.10788 0.388 9.18888 0.31L9.27888 0.24C9.32588 0.188 9.37988 0.145 9.43988 0.11L9.54888 0.07L9.71888 0H10.1399C10.5159 0.039 10.8469 0.264 11.0199 0.6L13.2389 5.07C13.3989 5.397 13.7099 5.624 14.0689 5.679L19.0389 6.4C19.4589 6.46 19.8099 6.75 19.9489 7.15C20.0799 7.551 19.9669 7.991 19.6589 8.28L15.9189 11.82Z")
              a(href="#") 
                svg.active(width="21" height="20" viewBox="0 0 21 20" xmlns="http://www.w3.org/2000/svg")
                  path(
                    d="M15.9189 11.82C15.6599 12.071 15.5409 12.434 15.5999 12.79L16.4889 17.71C16.5639 18.127 16.3879 18.549 16.0389 18.79C15.6969 19.04 15.2419 19.07 14.8689 18.87L10.4399 16.56C10.2859 16.478 10.1149 16.434 9.93988 16.429H9.66888C9.57488 16.443 9.48288 16.473 9.39888 16.519L4.96888 18.84C4.74988 18.95 4.50188 18.989 4.25888 18.95C3.66688 18.838 3.27188 18.274 3.36888 17.679L4.25888 12.759C4.31788 12.4 4.19888 12.035 3.93988 11.78L0.328876 8.28C0.0268758 7.987 -0.0781242 7.547 0.0598758 7.15C0.193876 6.754 0.535876 6.465 0.948876 6.4L5.91888 5.679C6.29688 5.64 6.62888 5.41 6.79888 5.07L8.98888 0.58C9.04088 0.48 9.10788 0.388 9.18888 0.31L9.27888 0.24C9.32588 0.188 9.37988 0.145 9.43988 0.11L9.54888 0.07L9.71888 0H10.1399C10.5159 0.039 10.8469 0.264 11.0199 0.6L13.2389 5.07C13.3989 5.397 13.7099 5.624 14.0689 5.679L19.0389 6.4C19.4589 6.46 19.8099 6.75 19.9489 7.15C20.0799 7.551 19.9669 7.991 19.6589 8.28L15.9189 11.82Z")
              a(href="#") 
                svg.active(width="21" height="20" viewBox="0 0 21 20" xmlns="http://www.w3.org/2000/svg")
                  path(
                    d="M15.9189 11.82C15.6599 12.071 15.5409 12.434 15.5999 12.79L16.4889 17.71C16.5639 18.127 16.3879 18.549 16.0389 18.79C15.6969 19.04 15.2419 19.07 14.8689 18.87L10.4399 16.56C10.2859 16.478 10.1149 16.434 9.93988 16.429H9.66888C9.57488 16.443 9.48288 16.473 9.39888 16.519L4.96888 18.84C4.74988 18.95 4.50188 18.989 4.25888 18.95C3.66688 18.838 3.27188 18.274 3.36888 17.679L4.25888 12.759C4.31788 12.4 4.19888 12.035 3.93988 11.78L0.328876 8.28C0.0268758 7.987 -0.0781242 7.547 0.0598758 7.15C0.193876 6.754 0.535876 6.465 0.948876 6.4L5.91888 5.679C6.29688 5.64 6.62888 5.41 6.79888 5.07L8.98888 0.58C9.04088 0.48 9.10788 0.388 9.18888 0.31L9.27888 0.24C9.32588 0.188 9.37988 0.145 9.43988 0.11L9.54888 0.07L9.71888 0H10.1399C10.5159 0.039 10.8469 0.264 11.0199 0.6L13.2389 5.07C13.3989 5.397 13.7099 5.624 14.0689 5.679L19.0389 6.4C19.4589 6.46 19.8099 6.75 19.9489 7.15C20.0799 7.551 19.9669 7.991 19.6589 8.28L15.9189 11.82Z")
              a(href="#") 
                svg.active(width="21" height="20" viewBox="0 0 21 20" xmlns="http://www.w3.org/2000/svg")
                  path(
                    d="M15.9189 11.82C15.6599 12.071 15.5409 12.434 15.5999 12.79L16.4889 17.71C16.5639 18.127 16.3879 18.549 16.0389 18.79C15.6969 19.04 15.2419 19.07 14.8689 18.87L10.4399 16.56C10.2859 16.478 10.1149 16.434 9.93988 16.429H9.66888C9.57488 16.443 9.48288 16.473 9.39888 16.519L4.96888 18.84C4.74988 18.95 4.50188 18.989 4.25888 18.95C3.66688 18.838 3.27188 18.274 3.36888 17.679L4.25888 12.759C4.31788 12.4 4.19888 12.035 3.93988 11.78L0.328876 8.28C0.0268758 7.987 -0.0781242 7.547 0.0598758 7.15C0.193876 6.754 0.535876 6.465 0.948876 6.4L5.91888 5.679C6.29688 5.64 6.62888 5.41 6.79888 5.07L8.98888 0.58C9.04088 0.48 9.10788 0.388 9.18888 0.31L9.27888 0.24C9.32588 0.188 9.37988 0.145 9.43988 0.11L9.54888 0.07L9.71888 0H10.1399C10.5159 0.039 10.8469 0.264 11.0199 0.6L13.2389 5.07C13.3989 5.397 13.7099 5.624 14.0689 5.679L19.0389 6.4C19.4589 6.46 19.8099 6.75 19.9489 7.15C20.0799 7.551 19.9669 7.991 19.6589 8.28L15.9189 11.82Z")
              a(href="#") 
                svg(width="21" height="20" viewBox="0 0 21 20" xmlns="http://www.w3.org/2000/svg")
                  path(
                    d="M15.9189 11.82C15.6599 12.071 15.5409 12.434 15.5999 12.79L16.4889 17.71C16.5639 18.127 16.3879 18.549 16.0389 18.79C15.6969 19.04 15.2419 19.07 14.8689 18.87L10.4399 16.56C10.2859 16.478 10.1149 16.434 9.93988 16.429H9.66888C9.57488 16.443 9.48288 16.473 9.39888 16.519L4.96888 18.84C4.74988 18.95 4.50188 18.989 4.25888 18.95C3.66688 18.838 3.27188 18.274 3.36888 17.679L4.25888 12.759C4.31788 12.4 4.19888 12.035 3.93988 11.78L0.328876 8.28C0.0268758 7.987 -0.0781242 7.547 0.0598758 7.15C0.193876 6.754 0.535876 6.465 0.948876 6.4L5.91888 5.679C6.29688 5.64 6.62888 5.41 6.79888 5.07L8.98888 0.58C9.04088 0.48 9.10788 0.388 9.18888 0.31L9.27888 0.24C9.32588 0.188 9.37988 0.145 9.43988 0.11L9.54888 0.07L9.71888 0H10.1399C10.5159 0.039 10.8469 0.264 11.0199 0.6L13.2389 5.07C13.3989 5.397 13.7099 5.624 14.0689 5.679L19.0389 6.4C19.4589 6.46 19.8099 6.75 19.9489 7.15C20.0799 7.551 19.9669 7.991 19.6589 8.28L15.9189 11.82Z")
            p.card-descr__feedback-text Мне нужна была видеокарта для стандартной простой майнингфермы, выбрал эту, мне помогли консультанты интернет-магазина MinerBase. Спасибо!! Но вот только доставка затянулась, может вина Почты России, но немного расстроило.
            .card-descr__feedback-date 22.11.2022
          .card-descr__feedback-item(data-feedback="item")
            .card-descr__feedback-name Александр
            .card-descr__feedback-rating
              a(href="#") 
                svg.active(width="21" height="20" viewBox="0 0 21 20" xmlns="http://www.w3.org/2000/svg")
                  path(
                    d="M15.9189 11.82C15.6599 12.071 15.5409 12.434 15.5999 12.79L16.4889 17.71C16.5639 18.127 16.3879 18.549 16.0389 18.79C15.6969 19.04 15.2419 19.07 14.8689 18.87L10.4399 16.56C10.2859 16.478 10.1149 16.434 9.93988 16.429H9.66888C9.57488 16.443 9.48288 16.473 9.39888 16.519L4.96888 18.84C4.74988 18.95 4.50188 18.989 4.25888 18.95C3.66688 18.838 3.27188 18.274 3.36888 17.679L4.25888 12.759C4.31788 12.4 4.19888 12.035 3.93988 11.78L0.328876 8.28C0.0268758 7.987 -0.0781242 7.547 0.0598758 7.15C0.193876 6.754 0.535876 6.465 0.948876 6.4L5.91888 5.679C6.29688 5.64 6.62888 5.41 6.79888 5.07L8.98888 0.58C9.04088 0.48 9.10788 0.388 9.18888 0.31L9.27888 0.24C9.32588 0.188 9.37988 0.145 9.43988 0.11L9.54888 0.07L9.71888 0H10.1399C10.5159 0.039 10.8469 0.264 11.0199 0.6L13.2389 5.07C13.3989 5.397 13.7099 5.624 14.0689 5.679L19.0389 6.4C19.4589 6.46 19.8099 6.75 19.9489 7.15C20.0799 7.551 19.9669 7.991 19.6589 8.28L15.9189 11.82Z")
              a(href="#") 
                svg.active(width="21" height="20" viewBox="0 0 21 20" xmlns="http://www.w3.org/2000/svg")
                  path(
                    d="M15.9189 11.82C15.6599 12.071 15.5409 12.434 15.5999 12.79L16.4889 17.71C16.5639 18.127 16.3879 18.549 16.0389 18.79C15.6969 19.04 15.2419 19.07 14.8689 18.87L10.4399 16.56C10.2859 16.478 10.1149 16.434 9.93988 16.429H9.66888C9.57488 16.443 9.48288 16.473 9.39888 16.519L4.96888 18.84C4.74988 18.95 4.50188 18.989 4.25888 18.95C3.66688 18.838 3.27188 18.274 3.36888 17.679L4.25888 12.759C4.31788 12.4 4.19888 12.035 3.93988 11.78L0.328876 8.28C0.0268758 7.987 -0.0781242 7.547 0.0598758 7.15C0.193876 6.754 0.535876 6.465 0.948876 6.4L5.91888 5.679C6.29688 5.64 6.62888 5.41 6.79888 5.07L8.98888 0.58C9.04088 0.48 9.10788 0.388 9.18888 0.31L9.27888 0.24C9.32588 0.188 9.37988 0.145 9.43988 0.11L9.54888 0.07L9.71888 0H10.1399C10.5159 0.039 10.8469 0.264 11.0199 0.6L13.2389 5.07C13.3989 5.397 13.7099 5.624 14.0689 5.679L19.0389 6.4C19.4589 6.46 19.8099 6.75 19.9489 7.15C20.0799 7.551 19.9669 7.991 19.6589 8.28L15.9189 11.82Z")
              a(href="#") 
                svg.active(width="21" height="20" viewBox="0 0 21 20" xmlns="http://www.w3.org/2000/svg")
                  path(
                    d="M15.9189 11.82C15.6599 12.071 15.5409 12.434 15.5999 12.79L16.4889 17.71C16.5639 18.127 16.3879 18.549 16.0389 18.79C15.6969 19.04 15.2419 19.07 14.8689 18.87L10.4399 16.56C10.2859 16.478 10.1149 16.434 9.93988 16.429H9.66888C9.57488 16.443 9.48288 16.473 9.39888 16.519L4.96888 18.84C4.74988 18.95 4.50188 18.989 4.25888 18.95C3.66688 18.838 3.27188 18.274 3.36888 17.679L4.25888 12.759C4.31788 12.4 4.19888 12.035 3.93988 11.78L0.328876 8.28C0.0268758 7.987 -0.0781242 7.547 0.0598758 7.15C0.193876 6.754 0.535876 6.465 0.948876 6.4L5.91888 5.679C6.29688 5.64 6.62888 5.41 6.79888 5.07L8.98888 0.58C9.04088 0.48 9.10788 0.388 9.18888 0.31L9.27888 0.24C9.32588 0.188 9.37988 0.145 9.43988 0.11L9.54888 0.07L9.71888 0H10.1399C10.5159 0.039 10.8469 0.264 11.0199 0.6L13.2389 5.07C13.3989 5.397 13.7099 5.624 14.0689 5.679L19.0389 6.4C19.4589 6.46 19.8099 6.75 19.9489 7.15C20.0799 7.551 19.9669 7.991 19.6589 8.28L15.9189 11.82Z")
              a(href="#") 
                svg.active(width="21" height="20" viewBox="0 0 21 20" xmlns="http://www.w3.org/2000/svg")
                  path(
                    d="M15.9189 11.82C15.6599 12.071 15.5409 12.434 15.5999 12.79L16.4889 17.71C16.5639 18.127 16.3879 18.549 16.0389 18.79C15.6969 19.04 15.2419 19.07 14.8689 18.87L10.4399 16.56C10.2859 16.478 10.1149 16.434 9.93988 16.429H9.66888C9.57488 16.443 9.48288 16.473 9.39888 16.519L4.96888 18.84C4.74988 18.95 4.50188 18.989 4.25888 18.95C3.66688 18.838 3.27188 18.274 3.36888 17.679L4.25888 12.759C4.31788 12.4 4.19888 12.035 3.93988 11.78L0.328876 8.28C0.0268758 7.987 -0.0781242 7.547 0.0598758 7.15C0.193876 6.754 0.535876 6.465 0.948876 6.4L5.91888 5.679C6.29688 5.64 6.62888 5.41 6.79888 5.07L8.98888 0.58C9.04088 0.48 9.10788 0.388 9.18888 0.31L9.27888 0.24C9.32588 0.188 9.37988 0.145 9.43988 0.11L9.54888 0.07L9.71888 0H10.1399C10.5159 0.039 10.8469 0.264 11.0199 0.6L13.2389 5.07C13.3989 5.397 13.7099 5.624 14.0689 5.679L19.0389 6.4C19.4589 6.46 19.8099 6.75 19.9489 7.15C20.0799 7.551 19.9669 7.991 19.6589 8.28L15.9189 11.82Z")
              a(href="#") 
                svg(width="21" height="20" viewBox="0 0 21 20" xmlns="http://www.w3.org/2000/svg")
                  path(
                    d="M15.9189 11.82C15.6599 12.071 15.5409 12.434 15.5999 12.79L16.4889 17.71C16.5639 18.127 16.3879 18.549 16.0389 18.79C15.6969 19.04 15.2419 19.07 14.8689 18.87L10.4399 16.56C10.2859 16.478 10.1149 16.434 9.93988 16.429H9.66888C9.57488 16.443 9.48288 16.473 9.39888 16.519L4.96888 18.84C4.74988 18.95 4.50188 18.989 4.25888 18.95C3.66688 18.838 3.27188 18.274 3.36888 17.679L4.25888 12.759C4.31788 12.4 4.19888 12.035 3.93988 11.78L0.328876 8.28C0.0268758 7.987 -0.0781242 7.547 0.0598758 7.15C0.193876 6.754 0.535876 6.465 0.948876 6.4L5.91888 5.679C6.29688 5.64 6.62888 5.41 6.79888 5.07L8.98888 0.58C9.04088 0.48 9.10788 0.388 9.18888 0.31L9.27888 0.24C9.32588 0.188 9.37988 0.145 9.43988 0.11L9.54888 0.07L9.71888 0H10.1399C10.5159 0.039 10.8469 0.264 11.0199 0.6L13.2389 5.07C13.3989 5.397 13.7099 5.624 14.0689 5.679L19.0389 6.4C19.4589 6.46 19.8099 6.75 19.9489 7.15C20.0799 7.551 19.9669 7.991 19.6589 8.28L15.9189 11.82Z")
            p.card-descr__feedback-text Мне нужна была видеокарта для стандартной простой майнингфермы, выбрал эту, мне помогли консультанты интернет-магазина MinerBase. Спасибо!! Но вот только доставка затянулась, может вина Почты России, но немного расстроило.
            .card-descr__feedback-date 22.11.2022
        button.card-descr__feedback-item-btn(data-feedback="more-btn") Показать еще
        button.card-descr__feedback-form-btn(data-feedback="modal-btn") Оставить отзыв
        form.card-descr__feedback-form(data-feedback="modal-block")
          .card-descr__feedback-form-overlay(data-feedback="overlay")
          .card-descr__feedback-form-wrap
            button.card-descr__feedback-form-close(type="button" data-feedback="close-btn")
              svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                rect(
                  x="28.4016"
                  y="0.000244141"
                  width="5.02074"
                  height="40.1659"
                  rx="2.51037"
                  transform="rotate(45 28.4016 0.000244141)"
                  fill="#B8B7B7")
                rect(
                  x="0.000244141"
                  y="3.55029"
                  width="5.02074"
                  height="40.1659"
                  rx="2.51037"
                  transform="rotate(-45 0.000244141 3.55029)"
                  fill="#B8B7B7")
            .card-descr__feedback-title Ваша оценка
            .card-descr__feedback-stars
              p.stars
                span
                  a.star-1(href="#")
                  a.star-2(href="#")
                  a.star-3(href="#") 
                  a.star-4(href="#") 
                  a.star-5(href="#") 
            .card-descr__feedback-inputs 
              .card-descr__feedback-input
                input(type="text" name="name" placeholder="Имя")
              .card-descr__feedback-input
                input(type="email" name="email" inputmode="email" placeholder="Электронная почта")
              .card-descr__feedback-textarea
                textarea(name="feedback-text" placeholder="Ваш отзыв") 
            .card-descr__feedback-footer 
              button.card-descr__feedback-btn Отправить
              p.card-descr__feedback-policy 
                | Оставляя отзыв на сайте, вы даете согласие на обработку&nbsp;
                a(href="#") персональных данных
